{% extends 'base.html.twig' %}
{% block title %}Tout nos biens!{% endblock %}
{% block body %}
    <div class="jumbotron text-center">
        <div class="container ">
            {{form_start(form)}}
            <div class="form-row">
                <div class="col">
                    {{form_row(form.maxPrice)}}
                </div>
                <div class="col">
                    {{form_row(form.minSurface)}}
                </div>
                <div class="col">
                    {{form_row(form.options)}}
                </div>
                <div class="col">
                    <button class="btn btn-primary">Recherche</button>
                </div>
            </div>
            {{form_end(form)}}
        </div>
    </div>

    <div class="container mt-4">

        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('property.show',{id:property.id, slug:property.slug}) }}">{{ property.title }}</a>
                            </h5>
                            <p class="card-text">{{ property.city }} ({{ property.postalCode }})</p>
                            <div class="text-primary">{{ property.formattedPrice }} €</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>

        <div class="navigation ">
            {{ knp_pagination_render(properties) }}
        </div>
    </div>

{% endblock %}
