{% extends 'base.html.twig' %}
{% block title %}Tout nos biens!{% endblock %}
{% block body %}
    <div class="jumbotron text-center">
        <h1>Voir tous les biens de  Sami</h1>
        <p>J’habite dans un appartement de 90 mètres carrés.situation dans l'espace
            Dans mon appartement, il y a un séjour. Il est à gauche de l’entrée.<br>
            C’est un petit séjour, très agréable. En face du séjour, à droite de l’entrée, il y a le salon. Au bout du couloir à gauche, il y a une chambre. C’est la chambre des enfants.<br>
            Entre la chambre et le séjour, il y a la cuisine. En face de la cuisine, il y a la salle de bains. C’est une salle de bains avec douche et baignoire.
            Les toilettes sont au bout du couloir. Au bout du couloir à droite, il y a une autre chambre.
            Dans les chambres, il y a des placards. C’est très pratique.
        </p>
    </div>
    <div class="container">

        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('property.show',{id:property.id, slug:property.slug}) }}">{{ property.title }}</a>
                            </h5>
                            <p class="card-text">{{ property.city }} ({{ property.postalCode }})</p>
                            <div class="text-primary">{{ property.formattedPrice }} €</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>

        <div class="navigation ">
            {{ knp_pagination_render(properties) }}
        </div>
    </div>

{% endblock %}
